body {
	background-color: rgb(111, 110, 120);

}
p {
    font-family: 'TF2 Secondary';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 22px;
}
h1 {
    font-family: 'TF2 Secondary';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 38px;
}
hr {
	color: rgb(255, 255, 255);
}
details {
  border: 2px solid #ffffff;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
    font-family: 'TF2 Secondary';
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 25px;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  margin-bottom: 0.5em;
}
.mapbox {
    display: flex;
    flex-direction: column;
  border: 2px solid #ffffff;
  border-radius: 0px;
  padding: 0.5em 0.5em 0;
    color: white;
    font-size: 15px;
    max-width: 270px;
    align-items: center;
}
.mapname
{
    display: flex;
    flex-direction: row;
}
.interior
{
    display: flex;
    flex-direction: row;
}